<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nz.co.udenbrothers.yoobie">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme" />

        <service
            android:name=".services.YoobieService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receivers.AdsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.UpdateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="yoobieSendStamp" />
            </intent-filter>
        </receiver>

        <service
            android:enabled="true"
            android:name=".services.UploadService"
            android:exported="false" />

        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme" />
        <activity
            android:name=".SignUp1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme" />
        <activity
            android:name=".SignUp2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
        </activity>

        <service
            android:name=".services.DataService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:enabled="true"
            android:name=".services.ProfileService"
            android:exported="false"/>
    </application>

</manifest>